@media (min-width: 768px) {
 .navbar-nav.navbar-center {
   position: absolute;
   left: 50%;
   transform: translatex(-50%);
  }
}

@media (min-width: 576px) {

}

section {
    width: 100%;
    padding: 0;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #373B44;
    height: 100vh;
  }

h1 {
    font-size: 3em;
    display: block;
    color: white;
    font-weight: 300;
  }

.content {
  display: table-cell;
  vertical-align: middle;
}

.email {
  display: none;
  padding: .45rem 0rem;
  color: #007bff;
}

.avatar {
  margin-bottom: 1rem;
  width: 9rem;
  height: 9rem;
}

.img-circle {
  border-radius: 100px;
}

.desc {
  margin-top: 2rem;
}

.btns-group {
  margin: 1rem;
}

.emojis {
  width: 1.7rem;
  height: 1.7rem;
}

.title-section {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.btn-card {
  margin-top: .3rem;
}

.section_web-development .card{
    /*height: 39.5rem;*/
}

.section_community-management .card {
    /*height: 23rem;*/
}

.section_photography .card {
    /*height: 30rem;*/
}

.card_btn {
    position: relative;
}

.card_btn .vh-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-bottom: 0;
}

.card_email {
    display: none;
    width: 100%;
    position: relative;
}

.card_email span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #ffffff;
    white-space: nowrap;
}

@media only screen and (max-width: 991px) {

    .avatar {
        margin-top: 5rem;
    }

    .btns-group {
        margin: 0.5rem;
    }

    .card_btn {
        height: 5rem !important;
    }

    .card_email {
        min-height: 5rem !important;
        margin-bottom: 2rem !important;
    }

    .card_btn {
        min-height: 5rem !important;
    }

    .card_email {
        height: 5rem !important;
        margin-bottom: 1.5rem !important;
    }

    .section_web-development .card{
        height: auto;
        margin-bottom: 2rem;
    }

    .section_community-management .card {
        height: auto;
        margin-bottom: 2rem;
    }

    .section_photography .card {
        height: auto;
        margin-bottom: 2rem;
    }

    .section_web-development .card{
        height: auto !important;
    }

    .section_community-management .card {
        height: auto !important;
    }

    .section_photography .card {
        height: auto !important;
    }

}