@media (min-width: 768px) {
 .navbar-nav.navbar-center {
   position: absolute;
   left: 50%;
   transform: translatex(-50%);
  }
}

@media (min-width: 576px) {
  .card-col1 {
    column-count: 1;
  }
  .card-col2 {
    column-count: 2;
  }
  .card-col3 {
    column-count: 3;
  }
}

section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #373B44;
    height: 100vh;
  }

h1 {
    font-size: 3em;
    display: block;
    color: white;
    font-weight: 300;
  }

.content {
  display: table-cell;
  vertical-align: middle;
}

.email {
  display: none;
  padding: .45rem 0rem;
  color: #007bff;
}

.img-circle {
  border-radius: 100px;
}

.btns-group {
  margin: 1rem;
}

.title-section {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.btn-card {
  margin-top: .3rem;
}

.card-top {
  margin-top: 1rem;
}
